In [20]:
import pandas as pd

Load the data from csv:

In [21]:
df = pd.read_csv('toronto.csv')

Drop rows where **Borough** cells are *Not assigned*.

In [22]:
df = df.loc[df['Borough']!="Not assigned"]

Fill in any *Not assigned* **Neighborhood** cells with the name of the **Borough**.

In [23]:
df_na = df.loc[df['Neighborhood']=='Not assigned']
df = df.loc[df['Neighborhood']!='Not assigned']
df_na['Neighborhood'] = df_na['Borough']
df = pd.concat([df,df_na],ignore_index=True)

Combine rows with matching **PostalCode** and **Borough** cells, separate **Neighborhood** by a comma.

In [24]:
df['Neighborhood'] = df.groupby(['PostalCode','Borough'])['Neighborhood'].transform(lambda x: ', '.join(x))
df.drop_duplicates(inplace=True)

In [25]:
df.head(10)

   PostalCode           Borough                      Neighborhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto                      Harbourfront
3         M6A        North York  Lawrence Heights, Lawrence Manor
5         M7A  Downtown Toronto                      Queen's Park
6         M1B       Scarborough                    Rouge, Malvern
8         M3B        North York                   Don Mills North
9         M4B         East York   Woodbine Gardens, Parkview Hill
11        M5B  Downtown Toronto          Ryerson, Garden District
13        M6B        North York                         Glencairn

In [26]:
df.shape

(103, 3)

In [27]:
coordinates = pd.read_csv('Geospatial_Coordinates.csv')

In [28]:
df = df.join(coordinates.set_index('Postal Code'), on='PostalCode')

In [29]:
df.reset_index(drop=True, inplace=True)

In [30]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494